/*General styles*/
html{
    height: 100%;
}
body{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-size: 1.6rem;
    background: url('./assets/library.jpg');
    color: azure;
}
main{
    flex: auto;
    display: flex;
}
footer{
    text-align: center;
}
a{
    text-decoration: none;
    color:aliceblue;
}
a:hover{
    color:aquamarine;
    font-size: 1.7rem;
}
/*Select-Navigation-Styles*/
.select-container,.display-todos,.windowContainer,footer{
    background: rgba(248, 175, 175, 0.068);
    border: 1px solid black;
}
.select-container{
    flex: 0 0 auto;
    display:flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    padding:40px 50px 40px 50px;
    margin: 10px;
}
.select-container ul{
    list-style-type: none;
}
.title{
    font-size: 2.1rem;
}
.project-title ,.favorite-title{
    display: flex;
    position: relative;
}
#add-btn-project{
    width: 40px;
    height:40px;
    cursor: pointer;
}
#add-btn-project:hover{
    width: 45px;
    height: 45px;
}
.show-btn-projects{
    position: absolute;
    width:20px;
    height:20px;
    cursor: pointer;
    left: -30px;
    bottom: 10px;
}
.show-btn-projects:hover{
    width: 23px;
    height: 23px;
}
.project-item:hover{
    cursor: pointer;
}

/*Display-ToDo-Navigation-Styles*/
.display-task-container{
    flex:1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 20px 0;
    flex-direction: column;
}
.display-todos-container{
    flex:auto;
    display: flex;
    gap: 30px;
}
.display-todos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position:relative; /*Para que carajo puse esto?*/
    border-radius: 10px;
    padding: 20px 40px 30px 40px;
}
.items-container-todo{
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.add-btn-todo-container{
    position: absolute;
    right: 0;
    bottom: 0;
    display: inline;
    padding: 5px;
}
#add-btn-todo{
    width: 40px;
    height: 40px;
    cursor: pointer;
}
#add-btn-todo:hover{
    width: 45px;
    height: 45px;
}
.item-todo{
    display: flex;
    position:relative;
}
.content-item{
    flex: 1;
}
.display-task-container h1{
    margin:0 0 20px 0;
}
.check-btn-todo{
    position: absolute;
    width: 23px;
    height: 23px;
    left:-30px;
    bottom: 2px;
    cursor:pointer;
}
.check-btn-todo:hover{
    width: 25px;
    height: 25px;
}
/**/
.windowContainer{
    border: 1px solid black;
    padding: 30px 50px 0 50px;
    border-radius: 10px;
}
.windowContainer form{
    display:flex;
    flex-direction: column;
}