html{
    height: 100%;
}
body{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-size: 1.6rem;
    background: url('./library.jpg');
    color: azure;
}
main{
    flex: 1;
    display: flex;
}
.select-container{
    flex:0 0 auto;
    width: 17%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border:1px solid black;
}
.select-container ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color:aliceblue;
}
a:hover{
    color:aquamarine;
    
}
.title{
    font-size: 2.1rem;
}
/*Footer*/
footer{
    text-align: center;
}

.project-title ,.favorite-title{
    display: flex;
}

/*display-task-container*/
.display-task-container{
    flex:1;
    border:1px solid black;
}

